{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ car.title }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <h1>{{ car.title }}</h1>
    <img src="{{ car.images.url }}" alt="{{ car.title }}" width="300" height="200">
    <p>{{ car.description }}</p>
    <p><strong>Tags:</strong> {{ car.tags }}</p>
    <hr>
    <a href="{% url 'update_car' car.id %}">Edit</a> |
    <a href="{% url 'delete_car' car.id %}">Delete</a> |
    <a href="{% url 'car_list' %}">Back to List</a>
</body>
</html>
